<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Betta Sleep</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {% block myscript %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="row" style ='background-color: #2ba6cb;'>
            <div class="col-md-12" >
                <div class="imgAbt">
                    <img style='float:left;width:150px;height:150px; margin-right:10px;' src="/static/images/betta3.jpg" /><img style='float:right;width:150px;height:150px; margin-left:10px;' src="/static/images/betta2.jpg" />
                </div>
            </div>
            <div class="col-md-12">
                <h1>Betta Sleep</h1>

                <h3>Better sleep through wireless technology</h3>
            </div>
         </div>
    </div>

    <h2>{% block header_text %}{% endblock %}</h2>
    {% block content %}
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
