{% extends 'ecg_graph/base.html' %}

{% block header_text %}List of all data{% endblock %}

{% block content %}
{% if zip_list %}
    <table class=table>
    <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>User</th>
        <th>Data length</th>
    </tr>
    {% for id, timestamp, user, datalength in zip_list %}
        <tr>
            <td><a href="/ecg_graph/{{ id }}/graph">{{ id }}</a></td>
            <td>{{ timestamp }}</td>
            <td>{{ user }}</td>
            <td>{{datalength}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No data are available.</p>
{% endif %}
{% endblock %}
